@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;



.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: rem(200px);
}
.hero__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.hero__title {
  margin-bottom: 20px;
  font-family: $ff-title-font;
  font-weight: $fw-regular;
  font-size: $fz-hero-heading;
}

.hero__motto {
  margin-bottom: 38px;

}

.hero__button {
  width: 440px;
  height: 67px;
  font-size: 1rem;
  background-color: $color-primary;
  box-shadow: 0 10px 14px $color-primary-shadow;
}

.hero__bg-image {
  width: 100%;
  height: auto;
}


@media (max-width: $bp-m) {
  .hero {

    height: 100vh;
    width: 100%;
    margin-top: 0;
    justify-content: flex-end;
  }

  .hero__intro{
    flex-grow: 1;
    padding-top: rem(100px);
  }

  .hero__motto {
    width: 70%;
    text-align: center;
  }

  .hero__bg-image {
    height: 40%;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: $bp-s) {
  .hero__button {
    width: 80%;
  }
}

@media (max-width: $bp-xs) {
  .hero__title{
    font-size: $fz-hero-heading-mobile;
  }

  .hero__button {
    //width: 80%;
  }

  .hero__bg-image {
    height: 25%;
    width: 100%;
    object-fit: cover;
  }
}



